#header{
    background-color: black;
    color: white;
    padding: 8%;
    margin-bottom: 3%;
}

.card-columns{
    padding: 0 3%;
}

.card{
    margin: 30px 0;
    border: none;
    padding: 4% 5%;
    border-radius: 0;
    opacity: 0.9;
}

.card-img-top{
    border-radius: 0;
}

.card-img-top:hover{
    box-shadow: 0px 0px 10px 2px grey;
}

.caption{
    position: absolute;
    left: 0;
    bottom: 20px;
    right: 0;
    padding: 1%;
    color: white;
}

.caption hr{
    width: 75%;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.circle{
    width: 300px;
    height: 400px;
    background-color: lightgrey;
    border-radius: 100%;
    margin: 15px auto;
}

#footer{
    background-color: black;
    margin-top: 5%;
    padding: 5%;
}

#footer h4{
    letter-spacing: 0.1em;
    font-style: italic;
}

.social-links{
    text-decoration: none;
    color: white;
}

.social-links:hover{
    text-decoration: none;
    color: white;
}

/* Responsive Layouts */

/*Laptops*/
@media screen and (max-width: 992px){
    .card-columns{
        column-count: 2;
        padding: 0;
    }
    .card{
        margin: 10% 0;
    }
}

/*Tablets*/
@media screen and (max-width: 768px){
    .card-columns{
        column-count: 1;
    }
    .card{
        margin: 10% 0;
    }
}

/*Mobile Phone*/
@media screen and (max-width: 576px){
    #footer{
        padding: 10%;
    }
    #footer h4{
        font-size: 16px;
    }
    .card-columns{
        column-count: 1;
        padding: 0;
    }
    .card{
        margin-bottom: 10%;
        margin-top: 10%;
    }
}