html, body{
    margin: 0px;
    padding: 0px;
    /* font-family: 'Inconsolata', monospace; */
    font-family: 'Cabin', sans-serif;
}

#delete-form {
    display: inline;
}

.btn{
    outline: none;
}

.btn:hover{
    outline: none;
}

.campground-form{
    max-width: 500px;
    margin: 25px auto;
}

/*Mobile Phone*/
@media screen and (max-width: 576px){
    .campground-form{
        width: 100%;
    }
}